<div class="url-div">
    <form class="url-form" method="get">
        <table>
        <tr>
        <td>
            {% if favicon %}<span class="logo">{{ favicon }}</span>{% endif %}
        </td>
        <td>
            <input title="url" class="url-input" type="text" name="url" value="{{ url }}"
        autocapitalize="none" autocomplete="off" autocorrect="off" spellcheck="false">
        </td>
        <td class="submit-td">
            <input type="submit" class="url-submit" value="Load URL">
        </td>
        <td></td>
        </tr>
        </table>
        
        
        
    </form>
</div>
