body {
    width:100%;
    background: #042d25;
    color:#c8f8ef;
}

table, th, td {
    border: 1px solid black;
    min-width: 3em;
}
td {
    padding: 0.2em
}
div {
    margin-bottom: 0.6em;
}
img {
    max-width: 300px;
}
.link-line {
    font-size: smaller;
}
.logo {
    text-decoration: none;
    margin-right: 6px;
    font-size: 0.8em;
}

.url-div {
background:#011f19;
top:0;
margin-left:-8px;
height:48px;
position:fixed;
width:100%;


}

.url-div table, th, td {
    border: none;
    min-width: 3em;
}
.url-form {
 padding-top:8px;
    text-align:center;
}
.url-input {
    flex-grow: 1;
    width:100%;
    background:#011f19;
    color:white;
   
      border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}
.url-submit {
    margin-left: 4px;
}
.link-line a {
    text-decoration: none;
    padding-right: 0.4em;
}
.header {
    max-width: 120ch;
    margin-bottom: 1em;
}
.header-item {
    padding-right: 0.4em;
    text-decoration: underline;
}
.title {
    font-weight: bolder;
    color: #3f51b5;
    font-size: 1.2em;
    font-family: sans-serif;
    text-decoration: none;
    padding-right: 0.4em;
}
.body {
  
}
.gemini {
    font-size: 20px;

    max-width: 800px;
    margin: auto;
    margin-top:65px;
    margin-bottom: 1em;
}

.gemini p {
    margin-left: 15px;
}
.gemini > * {
    margin: 0;
}
.gemini > p {
    white-space: pre-wrap;
}
.gemini > pre {
    border: solid black 1px;
    padding: 5px;
    max-width: fit-content;
    overflow-x: scroll;
}
.gemini > blockquote {
    white-space: pre-wrap;
    font-style: italic;
    border-left: 1px solid;
    padding-left: 10px;
}
.gemini > h1 {
    font-size: 1.5em;
    margin-bottom:30px;
}
.gemini > h2 {
    font-size: 1.25em;
}
.gemini > h3 {
    font-size: 1.1em;
}
.gemini > ul {
    padding-left: 1em;
}
.gemini > figure {
    margin-bottom: 1em;
}
.gemini > .input-line input {
    margin-left: 4px;
    vertical-align: text-bottom;
}
.gemini > .input-line textarea {
    margin-left: 4px;
    vertical-align: text-bottom;
}
.gemini h1 {
color:white;
}
.gemini a {
color:white;
text-decoration:none;
}
.inline-image {
    cursor: zoom-in;
}
.inline-image.selected {
    max-width: 90vw;
    max-height: initial;
    cursor: zoom-out;
}
.link-line, .response-table{
display:none;
}

.url-form table{
width:100%;
}

.url-form .submit-td{
width:20px;
}


button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
